hr{
  margin: 0px;
  border: none;
}
a {
  text-decoration: none;
  color: white;
}

/* style header */
.header {
  background-image: url(../images/header2.jpg);
  background-size: cover;
  padding-top: 30px;
}

.header .button {
  border: none;
}

.nav {
  text-align: right;
  margin-bottom: 10px;
}

.nav .button {
  width: 48%;
  margin: 2px 0;
  padding-left: 0;
  padding-right: 0;
}

.headerNameGame {
  color: gold;
  text-shadow: black 2px 2px 2px;
  font-family: 'Dancing Script', cursive;
  font-size: 90px;
  user-select: none;
}
.descriptionGame {
  font-family: 'Montserrat', sans-serif;
  color: #071025;
  font-weight:500;
  user-select: none; 
}
/* end style header */

/* style footer */
.footer {
  background-color: #69d5f9;
  width: 100%;
  height: 100%;
}

.footerHeaderHref {
  font-size: 150%;
}

.tapped {
  background-image: url(../images/tapped.png);
  background-size: cover;
  background-position: center center;
  padding-top: 90%;
}
.iconMyHref {
  background-size: cover;
  padding-top: 60px;
}

.gitHubIcon {
  background-image: url(../images/footer/GitHub-e1528109559133-150x150.png);
}
.vkIcon {
  background-image: url(../images/footer/icon_vk.png);
}
.instaIcon {
  background-image: url(../images/footer/insta.png);
}
/* end style footer */

/* style download */
.download {
  background-color: #071025;
  box-shadow: 0 0 5px 0 gold;
}

/* style download */
.appStore {
  background-image: url(../images/download/apple-badge-cta-ru.png);
}
.amazonAppStore {
  background-image: url(../images/download/amazon-amazon-english.png);
}
.googlePlay {
  background-image: url(../images/download/google-badge-cta-ru.png);
}

.buttonDowload {
  background-position: center center;
  margin: 20px 0px;
  padding: 40px 0px;
  border: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  transition: 0.5s;
}
.buttonDowload:hover {
  width: 180px;
}
/* end style download */

/* style pages characters */
.nameCharacters {
  color: gold;
  text-shadow: black 2px 2px 2px;
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
}
.subNameCharacters {
  color: gold;
  text-shadow: black 2px 2px 2px;
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
}
.subNameDialogue {
  padding-top: 10px;
  font-size: 20px;
  background-color: #071025;
  color: white;
  border-radius: 90px 0px 90px 0px;
}
.characterTask {
  background-color: #071025;
  font-size: 16px;
  color: white;
  border-radius: 15px;
  padding: 10px;
  margin: 5px 0px;
}
.taskStart {
  font-size: 30px;
  background-color: #071025;
  width: 200px;
  margin: 0 auto;
  border-radius: 50px 50px 0px 0px;
  color: white;
  padding-top: -20px;
}
.buttonShowTask {
  text-align: center;
  margin: 10px 0px;
}
.showDialogueFalse {
  display: none;
}
.showDialogueTrue {
  display: block;
}

/* lyan page */
.backgroundDialogue {
  display:flex;
  background-color: #f8fdfc;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px 5px 5px 5px;
  font-weight: bolder;
  margin-top: 10px;
}
.headerCharacter {
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
  min-width: 70px;
}
/* end style pages characters */

/* 404 page */
.gomer404 {
  background-image: url(../images/gomer404.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  background-position: center center;
  border-radius: 50px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  margin: 5px 0px 20px 0px;
  opacity: 0.9;
}
.head404 {
  text-align: center;
  font-weight: bolder;
  color: red;
  font-size: 30px;
}
.button404 {
  padding-top: 200px;
  text-align: center;
}
.displayFalse {
  display: none;
}

/* images head character */
.headCharacterLyan{
  background-image: url(../images/characters/vanxytens/lyanPage/lyan.png);
}
.headCharacterMilxays {
  background-image: url(../images/characters/vanxytens/lyanPage/milxays.png);
}
.headCharacterBart {
  background-image: url(../images/characters/simpsons/headCharacterBart.png);
}
.headCharacterGomer {
  background-image: url(../images/characters/simpsons/headCharacterGomer.png);
}
.headCharacterLiza {
  background-image: url(../images/characters/simpsons/headCharacterLiza.png);
}
.headCharacterDyd {
  background-image: url(../images/characters/workShcool/headCharacterDyd.png);
}
.headCharacterSmiters {
  background-image: url(../images/characters/headCharacterSmiters.png);
}
.headCharacterBerns {
  background-image: url(../images/characters/headCharacterBerns.png);
}

/* style characters */
.containerCharacters {
  border: 1px solid black;
  border-radius: 30px;
  background-color: #071025;
  color: white;
  margin: 20px 0px 20px 0px;
  box-shadow: 0.6em 0.6em 7px rgba(122,122,122,0.5);
  transition: 0.5s;
}

.containerCharacters:hover {
  box-shadow: 0.8em 0.8em 7px white;
  text-shadow: 1px 1px 1px gray;
  /* animation: 1s; */
}

.containerCharacters p {
  font-weight: 500;
  font-size: 20px;
}

.charactersPeopleImages {
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  background-size: contain;
  padding: 0px 35px;
  transition: 1s;
  height: 200px;
}
.backgroundCharacters {
  background: transparent;
  border-radius: 90px 0px 90px 30px;
  transition: 1s;
}
.backgroundCharacters:hover {
  background: #182141;
  box-shadow: gold 1px 1px 5px;
  opacity: 1;
}
/* Симпсоны */
.gomerImage {
  /* background: red; */
  background-image: url(../images/characters/simpsons/gomer.png);
}
.margjImage {
  background-image: url(../images/characters/simpsons/margj.png);
}
.bartImage {
  background-image: url(../images/characters/simpsons/bart.png);
}
.dedSimpson {
  background-image: url(../images/characters/simpsons/dedSimpson.png);
}
.lizaSimpson {
  background-image: url(../images/characters/simpsons/lizaSimpson.png);
}
.meggi {
  background-image: url(../images/characters/simpsons/meggi.png);
}
/* Ванхутэны */
.kirkVanHouten {
  background-image: url(../images/characters/vanxytens/kirkVanHouten.png);
}
.luannVanHouten {
  background-image: url(../images/characters/vanxytens/luannVanHouten.png);
}
.grandmaVanHouten {
  background-image: url(../images/characters/vanxytens/grandmaVanHouten.png);
}
/* Апу */
.apy {
  background-image: url(../images/characters/apy/apy.png);
}
.fatherApy {
  background-image: url(../images/characters/apy/fatherApy.png);
}
.mandjyla {
  background-image: url(../images/characters/apy/mandjyla.png);
}
/* Фландерсы */
.ned {
  background-image: url(../images/characters/flanders/ned.png);
}
.moude {
  background-image: url(../images/characters/flanders/moude.png);
}
.todd {
  background-image: url(../images/characters/flanders/todd.png);
}
/* Бубье */
.patty {
  background-image: url(../images/characters/bube/patty.png);
}
.jacqueline {
  background-image: url(../images/characters/bube/jacqueline.png);
}
.selma {
  background-image: url(../images/characters/bube/selma.png);
}
/* Школные раюотники */
.skinner {
  background-image: url(../images/characters/workShcool/skinner.png);
}
.willie {
  background-image: url(../images/characters/workShcool/willie.png);
}
.edna {
  background-image: url(../images/characters/workShcool/edna.png);
}
.dud {
  background-image: url(../images/characters/workShcool/dyd.png);
}
.otto {
  background-image: url(../images/characters/workShcool/otto.png);
}
.doris {
  background-image: url(../images/characters/workShcool/doris.png);
}
/* end style characters */

/* общие стили */
.button {
  background-color: rgba(255,255,255,.8);
}

.button:hover {
  background-color: rgba(255,255,255,.6);
}

.action {
  text-align: center;
}

.action h1 {
  margin-bottom: 0;
}

.blockCenter {
  text-align: center;
}

.noBorder {
  border: none;
}

.headerPages {
  font-family: 'Roboto Slab', serif;
  color: gold;
  text-shadow: black 2px 2px 2px;
}
.descriptionHeaderPages {
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  margin-top: 10px;
}
/* конец общих стилей */

/* Larger than mobile */
@media (min-width: 400px) {
  .nameCharacters {
    padding-top: 40px;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  .nav .button {
    width: auto;
    padding: 0 30px;
  }
  .longHrRigth{
    margin-right: -30px;
  }
  hr {
    background-color: gold;
    border: none;
    height: 1.5px;
    margin: 0;
  }

}

/* Larger than tablet */
@media (min-width: 750px) {
  .action {
    padding: 75px 0 25px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .header {
    padding: 50px 0;
  }
}
