hr{
  margin: 0px;
  border: none;
}
a {
  text-decoration: none;
  color: white;
}
/* body {
  background-color: black;
} */

/* style header */
.header {
  background-image: url(../images/header2.jpg);
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  padding-top: 30px;
}

.header .button {
  border: none;
}

.nav {
  text-align: right;
  margin-bottom: 10px;
}

.nav .button {
  width: 48%;
  margin: 2px 0;
  padding-left: 0;
  padding-right: 0;
}
/* end style header */


/* style footer */
.footer {
  background-color: #69d5f9;
  width: 100%;
  height: 100%;
}

.footerHeaderHref {
  font-size: 150%;
}

.tapped {
  background-image: url(../images/Tapped.png);
  background-size: cover;
  background-position: center center;
  padding-top: 90%;
}
.iconMyHref {
  background-size: cover;
padding-top: 60px;
}

.gitHubIcon {
  background-image: url(../images/footer/GitHub-e1528109559133-150x150.png);
}
.vkIcon {
  background-image: url(../images/footer/icon_vk.png);
}
.instaIcon {
  background-image: url(../images/footer/insta.png);
}
/* end style footer */


/* style download */
.download {
  background-color: #071025;
  box-shadow: 0 0 5px 0 gold;
}

/* style download */
.characters {
  background-color: #cdf1fd;
}

.appStore {
  background-image: url(../images/download/apple-badge-cta-ru.png);
}
.amazonAppStore {
  background-image: url(../images/download/amazon-amazon-english.png);
}
.googlePlay {
  background-image: url(../images/download/google-badge-cta-ru.png);
}

.buttonDowload {
  background-position: center center;
  margin-top: 20px;
  border: 0px;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 200px;
  padding-top: 85px;
}
/* end style download */

/* style characters */
.containerCharacters {
  border: 1px solid black;
  border-radius: 30px;
  background-color: #071025;
  color: white;
  margin: 40px 0px;
  box-shadow: 0.6em 0.6em 7px rgba(122,122,122,0.5);
}

.charactersPeopleImages {
  /* background-size: 120%; */
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  background-size: 182%;
  /* padding: 0  */
  /* width: 100% */

  height: 200px;
  /* margin-left: 30px; */
}

.gomerImage {
  background-image: url(../images/characters/simpsons/gomer.png);
}
.margjImage {
  background-image: url(../images/characters/simpsons/margj.png);
  background-size: 163%;
}
.bartImage {
  background-image: url(../images/characters/simpsons/bart.png);
}
.dedSimpson {
  background-image: url(../images/characters/simpsons/dedSimpson.png);
  background-size: 100%;
}
.lizaSimpson {
  background-image: url(../images/characters/simpsons/lizaSimpson.png);
  background-size: 100%;
}
.meggi {
  background-image: url(../images/characters/simpsons/meggi.png);
  background-size: 130%;
}
/* end style characters */

/* общие стили */
.button {
  background-color: rgba(255,255,255,.8);
}

.button:hover {
  background-color: rgba(255,255,255,.6);
}

.action {
  text-align: center;
}

.action h1 {
  margin-bottom: 0;
}

.blockCenter {
  text-align: center;
}

.noBorder {
  border: none;
}
/* конец общих стилей */

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet */
@media (min-width: 550px) {
  .nav .button {
    width: auto;
    padding: 0 30px;
  }
  .longHrRigth{
    margin-right: -30px;
  }
  hr {
    background-color: gold;
    border: none;
    height: 1.5px;
    margin: 0;
  }

}

/* Larger than tablet */
@media (min-width: 750px) {
  .action {
    padding: 75px 0 25px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .header {
    padding: 50px 0;
  }
}
