hr{
  margin: 0px;
  border: none;
}
a {
  text-decoration: none;
  color: white;
}

/* style header */
.header {
  background-image: url(../images/header2.jpg);
  background-size: cover;
  padding-top: 30px;
}

.header .button {
  border: none;
}

.nav {
  text-align: right;
  margin-bottom: 10px;
}

.nav .button {
  width: 48%;
  margin: 2px 0;
  padding-left: 0;
  padding-right: 0;
}

.headerNameGame {
  color: gold;
  text-shadow: black 2px 2px 2px;
  font-family: 'Dancing Script', cursive;
  font-size: 90px;
}
.descriptionGame {
  font-family: 'Montserrat', sans-serif;
  color: #071025;
  font-weight:500;
}
/* end style header */

/* style footer */
.footer {
  background-color: #69d5f9;
  width: 100%;
  height: 100%;
}

.footerHeaderHref {
  font-size: 150%;
}

.tapped {
  background-image: url(../images/tapped.png);
  background-size: cover;
  background-position: center center;
  padding-top: 90%;
}
.iconMyHref {
  background-size: cover;
  padding-top: 60px;
}

.gitHubIcon {
  background-image: url(../images/footer/GitHub-e1528109559133-150x150.png);
}
.vkIcon {
  background-image: url(../images/footer/icon_vk.png);
}
.instaIcon {
  background-image: url(../images/footer/insta.png);
}
/* end style footer */

/* style download */
.download {
  background-color: #071025;
  box-shadow: 0 0 5px 0 gold;
}

/* style download */
.characters {
  background-color: #cdf1fd;
}

.appStore {
  background-image: url(../images/download/apple-badge-cta-ru.png);
}
.amazonAppStore {
  background-image: url(../images/download/amazon-amazon-english.png);
}
.googlePlay {
  background-image: url(../images/download/google-badge-cta-ru.png);
}

.buttonDowload {
  background-position: center center;
  margin: 20px 0px;
  padding: 40px 0px;
  border: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
}
/* end style download */

/* style pages characters */
.nameCharacters {
  color: gold;
  text-shadow: black 2px 2px 2px;
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  /* margin-top: -40px; */
}
.subNameCharacters {
  color: gold;
  text-shadow: black 2px 2px 2px;
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
}
.subNameDialogue {
  padding-top: 10px;
  font-size: 20px;
  background-color: #071025;
  color: white;
  border-radius: 90px 0px 90px 0px;
}
.characterTask {
  /* background-color: black; */
  color: gold;
}

/* lyan page */
.backgroundDialogue {
  display:flex;
  background-color: #f8fdfc;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px 5px 5px 5px;
  font-weight: bolder;
  margin-top: 10px;
}
.headerCharacter {
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
  min-width: 70px;
}
.headCharacterLyan{
  background-image: url(../images/characters/vanxytens/lyanPage/lyan.png);
  /* float: left; */
}
.headCharacterMilxays {
  background-image: url(../images/characters/vanxytens/lyanPage/milxays.png);
}
/* end style pages characters */

/* style characters */
.containerCharacters {
  border: 1px solid black;
  border-radius: 30px;
  background-color: #071025;
  color: white;
  margin: 20px 0px 20px 0px;
  box-shadow: 0.6em 0.6em 7px rgba(122,122,122,0.5);
}

.charactersPeopleImages {
  /* background-size: 120%; */
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  background-size: 143%;
  padding: 0px 35px;
  /* width: 100% */

  height: 200px;
  /* margin-left: 30px; */
}

/* Симпсоны */
.gomerImage {
  background-image: url(../images/characters/simpsons/gomer.png);
  /* background-size: 143%; */
}
.margjImage {
  background-image: url(../images/characters/simpsons/margj.png);
  /* background-size: 143%; */
}
.bartImage {
  background-image: url(../images/characters/simpsons/bart.png);
  /* background-size: 143%; */
}
.dedSimpson {
  background-image: url(../images/characters/simpsons/dedSimpson.png);
  background-size: 90%;
}
.lizaSimpson {
  background-image: url(../images/characters/simpsons/lizaSimpson.png);
  background-size: 80%;
}
.meggi {
  background-image: url(../images/characters/simpsons/meggi.png);
  background-size: 110%;
}
/* Ванхутэны */
.kirkVanHouten {
  background-image: url(../images/characters/vanxytens/kirkVanHouten.png);
  background-size: 100%;
}
.luannVanHouten {
  background-image: url(../images/characters/vanxytens/luannVanHouten.png);
  background-size: 100%;
}
.grandmaVanHouten {
  background-image: url(../images/characters/vanxytens/grandmaVanHouten.png);
  background-size: 110%;
}
/* Апу */
.apy {
  background-image: url(../images/characters/apy/apy.png);
  background-size: 100%;
}
.fatherApy {
  background-image: url(../images/characters/apy/fatherApy.png);
  background-size: 102%;
}
.mandjyla {
  background-image: url(../images/characters/apy/mandjyla.png);
  background-size: 70%;
}
/* Фландерсы */
.ned {
  background-image: url(../images/characters/flanders/ned.png);
  background-size: 102%;
}
.moude {
  background-image: url(../images/characters/flanders/moude.png);
  background-size: 152%;
}
.todd {
  background-image: url(../images/characters/flanders/todd.png);
  background-size: 102%;
}
/* Бубье */
.patty {
  background-image: url(../images/characters/bube/patty.png);
  background-size: 130%;
}
.jacqueline {
  background-image: url(../images/characters/bube/jacqueline.png);
  background-size: 105%;
}
.selma {
  background-image: url(../images/characters/bube/selma.png);
  background-size: 105%;
}
/* Школные раюотники */
.skinner {
  background-image: url(../images/characters/workShcool/skinner.png);
  background-size: 159%;
}
.willie {
  background-image: url(../images/characters/workShcool/willie.png);
  background-size: 140%;
}
.edna {
  background-image: url(../images/characters/workShcool/edna.png);
  background-size: 90%;
}
.dud {
  background-image: url(../images/characters/workShcool/dyd.png);
  background-size: 110%;
}
.otto {
  background-image: url(../images/characters/workShcool/otto.png);
  background-size: 100%;
}
.doris {
  background-image: url(../images/characters/workShcool/doris.png);
  background-size: 105%;
}
/* end style characters */

/* общие стили */
.button {
  background-color: rgba(255,255,255,.8);
}

.button:hover {
  background-color: rgba(255,255,255,.6);
}

.action {
  text-align: center;
}

.action h1 {
  margin-bottom: 0;
}

.blockCenter {
  text-align: center;
}

.noBorder {
  border: none;
}

.headerPages {
  font-family: 'Roboto Slab', serif;
  color: gold;
  text-shadow: black 2px 2px 2px;
}
.descriptionHeaderPages {
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  margin-top: 10px;
}
/* конец общих стилей */

/* Larger than mobile */
@media (min-width: 400px) {
  .nameCharacters {
    padding-top: 40px;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  .nav .button {
    width: auto;
    padding: 0 30px;
  }
  .longHrRigth{
    margin-right: -30px;
  }
  hr {
    background-color: gold;
    border: none;
    height: 1.5px;
    margin: 0;
  }

}

/* Larger than tablet */
@media (min-width: 750px) {
  .action {
    padding: 75px 0 25px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .header {
    padding: 50px 0;
  }
}
